.Block{
  width:150px;
  height:150px;
  border:5px solid black;
  background-size: cover;
  display: inline-block;
  

}
.mark1{
  background-image: url('images/dot.png');
}
.mark2{
  background-image: url('images/cross.png');
}

.App{
  text-align: center;
  margin-top: 50px;
  
  height: 100vh;
}

/* heading color used in App.js */
.color {
  color: #000000;
}